[
  {eshop,[
    {pools, [
      {progress_pool, [
	{size, 10}
	,{max_overflow, 20}]
      ,[{hostname,"127.0.0.1"},
	{database,"lamazone"}
	,{username,"lamazone"}
	,{password,"lamazone"}
      ]}]}
    ,{basic_config,[
      {eshop_host,""}
      ,{jwt_secret,<<"123">>}
    ]}
    ,{project,"lamazone"}
  ]}

  %%%%%%%%%%%%%%%%%%%%%%%%%%%     LOGGING     %%%%%%%%%%%%%%%%%%%%%%%%%%%

  ,{estore,[
    {default_db,pgsql}
    ,{log_debug,true}
    ,{log_info,true}
    ,{log_error,true}

    ,{dbs,[
      {pgsql,[
        {tablespace,lamazone}
        ,{pools,[
          {pgsql_pool,[
            {pool_size,[
              {size,10}
              ,{max_overflow,20}
            ]}
            ,{worker_args,[
              {hostname,"127.0.0.1"}
              ,{database,"lamazone"}
              ,{username,"lamazone"}
              ,{password,"lamazone"}
            ]}
          ]}
        ]}
      ]}
      ,{mnesia,[
        {store,ram_copies}
        ,{dir,""}
      ]}
    ]}
  ]}

  %%%%%%%%%%%%%%%%%%%%%%%%%%%     LOGGING     %%%%%%%%%%%%%%%%%%%%%%%%%%%

  ,{lager, [
    {handlers, [
      {lager_file_backend,[
	{file, "./log/debug.log"}
	,{level, debug}
	,{formatter, lager_default_formatter}
	,{formatter_config, [date, " ", time," [",severity,"] ",pid, " ", message, "\n"]}
      ]}
      ,{lager_file_backend,[
	{file, "./log/info.log"}
	,{level, info}
	,{formatter, lager_default_formatter}
        ,{formatter_config, [date, " ", time," [",severity,"] ",pid, " ", message, "\n"]}
        ,{size, 10485760}
        ,{date, "$D0"}
        ,{count, 5}
      ]}
      ,{lager_file_backend, [
	{file, "./log/error.log"}
	,{level, error}
	,{formatter, lager_default_formatter}
	,{formatter_config, [date, " ", time," [",severity,"] ",pid, " ", message, "\n"]}
      ]}
    ]}
    ,{crash_log, "./log/crash.log"}
    ,{crash_log_msg_size,9999}
    ,{async_threshold, 2000}        %% log asynchronous until msg queue reaches 2000
    ,{async_threshold_window, 200}  %% go back to async logging when msg queue < 1800
  ]}
].
