%% -*- mode: erlang -*-

{lib_dirs,["deps"]}.
{eunit_opts, [verbose]}.
{deps_dir, "deps"}.

{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager.git",{branch, "master"}}}
  ,{cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git",{tag, "0.9.0"}}}
  ,{erlydtl, ".*", {git, "https://github.com/erlydtl/erlydtl.git",{branch, "master"}}}
  ,{erlsha2, ".*", {git, "https://github.com/vinoski/erlsha2.git",{branch, "master"}}}
  ,{ejwt, ".*", {git, "https://github.com/artefactop/ejwt.git",{branch, "master"}}}
  ,{estore, ".*", {git, "https://github.com/coolfeature/estore.git",{branch, "master"}}}
  ,{gproc, ".*", {git, "https://github.com/uwiger/gproc.git",{branch, "master"}}}
]}.


