body {
  padding-top: 50px;
  padding-bottom: 50px;
}

.eshop-top-margin {
  margin-top:20px
}

.animate-enter {
  -webkit-transition: 1s linear all; /* Chrome */
  transition: 1s linear all;
  opacity: 0;
}
     
.animate-enter.animate-enter-active {
  opacity: 1;
}

/*** formLoginController ***/

.form-signin {
  max-width: 330px;
  padding: 15px;
  padding-bottom: 50px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* downloaded from https://gist.github.com/n00b2pr0/6927440#file-bs3-panel-heading-pagination-html
 * Used for Items admin menu */

.panel-heading .pagination-panel, 
.panel-footer .pagination-panel {
    margin: -11px -16px; /* Based off default .panel-heading padding */
    
    > li {
        > a,
        > span {
            padding: 10px 18px; /* Based off default .panel-heading padding */
        }
    }
    
}
 
.panel-heading .pagination-panel {
    > li {
        &:last-child {
            > a,
            > span {
                border-bottom-right-radius: 0;
            }
        }
    }
}
 
.panel-footer .pagination-panel {
    > li {
        &:last-child {
            > a,
            > span {
                border-top-right-radius: 0;
            }
        }
    }
}

/* end of panel paste*/
